<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add providerName="System.Data.SqlClient" name="connection" connectionString="Data Source=server1;Initial Catalog=GroupDatabase;Integrated Security=False;User ID=student;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>